main {
    display: flex;
    justify-content: center;
    align-items: center;
}
#reader {
    width: 600px;
}
#result {
    text-align: center;
    font-size: 1.5rem;
}
.popup {
    color: #e60012;
    display: none;
    position: fixed;
    left: 50%;
    top: 50%;
    transform: translate(-50%, -50%);
    width: 300px;
    height: 300px;
    padding: 20px;
    background: url('asset/bk.webp') no-repeat center center;
    background-size: cover;
    border-radius: 10px;
    box-shadow: 0 5px 15px rgba(0,0,0,0.3);
    text-align: center;
    color: #fff;
}
.popup p {
    color: white;
    font-size: 2.5rem;
    font-weight: bold;
    margin-bottom: 30px;
    background-color: rgba(0, 0, 0, 0.7);
    padding: 10px;
    border-radius: 5px;
}
.popup button {
    background-color: #4CAF50;
    color: white;
    padding: 10px 20px;
    border: none;
    border-radius: 5px;
    cursor: pointer;
    font-size: 1rem;
    font-weight: bold;
}
.popup button:hover {
    background-color: #45a049;
}
